@import url('https://fonts.googleapis.com/css?family=Titan+One');

body {
    background: rgb(85, 201, 49);
    font-family: "Titan One", cursive;
}

.container {
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    resize: vertical;
}

.jump {
    font-size: 0px;
}

h2.jump {
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px black;
}

.jump span {
    display: inline-block;
}

.jump span:hover {
    transform: translate(20);
    transform: rotate(10deg);
    transform: scale(2);

}

